*{
    font-family: Verdana;
    text-align: center;
}
body{
    height: 1000px;
}
h1{
    font-size: 30px;
    color: blue;
}
h2{
    font-size: 25px;
}
table.game caption{
    font-size: 200%;
    padding-bottom: .25in;
}
table.game{
    border-collapse: collapse;
}
.divBody{
    width:700px;
    height:700px;
    border:solid 1px white;
    margin-left: 200px;
    position: absolute;
}
.divRecord{
    background-color: lightgrey;
    width: 300px;
    border: 25px solid green;
    padding: 15px;
    margin: 65px 200px 20px 125px;
    float:right;
}
.game tbody td{
    border: green 1px dashed;
    height: 120px;
    width: 150px;
    font-size: 50px;
    text-align: center;
    margin: 0 auto;
}
.game tfoot td{
    text-align: center;
    font-size: 44pt;
}
.winner{
    background-color: green;
}
.resetButton{
    width: 190px;
    height: 50px;
    color: white;
    background-color: black;
    font-size: 15pt;
    border: solid 1px black;   
    margin-bottom: 15px;
    margin-top: 15px;
}
.clear{
    background-color: white;
}
td.pink {
    background-color: pink;
}
#gameStatus{
    font-size: 15pt;
    color:blue;
}
